<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div>
                <h1 *ngIf="selectedGenre != 'All Media'" class="genre-title">{{ selectedGenre }}</h1>
            </div>

        </div>
        <div class="row">
            <div *ngFor="let tempMedia of mediaList" class="col-md-2">
                <div class="media-item">
                    <div class="media-box">
                        <a routerLink="/info/{{ tempMedia.id }}">
                            <img src="{{ tempMedia.poster }}" onerror="this.src='./assets/images/noPoster.jpg'"
                                class="img-responsive">
                            <h1>{{ tempMedia.title }}</h1>
                        </a>
                        <h2>Rated: {{ tempMedia.rated }}</h2>
                        <h2>Released : {{ tempMedia.released }} </h2>
                        <h2>Runtime: {{ tempMedia.runtime }}</h2>
                    </div>
                </div>
            </div>

            <div *ngIf="mediaList?.length == 0" class="alert alert-warning col-md-12" role="alert">
                No titles found!
            </div>
        </div>

        <div class="footer-pagination">
            <div class="row">
                <div class="col-md-6 offset-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize"
                                [collectionSize]="theTotalElements" [maxSize]=5 [boundaryLinks]="true"
                                (pageChange)="listMedia()">

                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-3 offset-md-9" style="text-align: right;">
                    <span class="mr-2">Page Size</span>
                    <select (change)="updatePageSize($event.target.value)">
                        <option selected="true">12</option>
                        <option>18</option>
                        <option>24</option>
                        <option>30</option>
                        <option>36</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>